table,
td {
    border: 1px solid #333;
    text-align: center;
    border-style: none;
}
tr{
  background-color: #D9FBFF;

}
th{
  background-color: #9740FF;
}
thead{
  font-size: 1.3rem;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.fit-picture {
    width: 200px;
}
img:hover{
  background-color: #fff;
  width: 300px;
}


table {
  transition: transform 0.3s ease;
}

table:hover {
  transform: scale(1.2);
}


img {
  transition: transform 0.5s ease;
  border-radius: 50%;
}



p{
  font-size: 1.1rem;
}
hr {
    border: none;
    color: blue;
    border-width: 6px;
    overflow: visible;
    text-align: center;
    height: 0px;
    width: 35%;
    border-style: dotted none none;
}
body {
  background-color: #C0E0FF;

}
table{
  font-family: sans-serif;
  border-style: none;
}
li{
  font-family: sans-serif;
}
